{%extends 'base.html'%} {%block title%}
<title>Главная страница</title>
{%endblock%} 

{% block content%}
{%if messages%}
<ul class="message" style="background-color: #4CAF50;color: white;margin-bottom: 10px;">
  {%for message in messages%}
  <li{%if message.tags%} class="{{message.tags}}"{%endif%}>{{message}}</li>
  {%endfor%}
</ul>
{%endif%}




<div
  style="
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    width: 1700px;
  "
>
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for ads in all_ads %}
        <div class="col">
          <div class="card shadow-sm">
            <img
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              src="{{ads.image.url}}"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>{{ads.owner}}</title>
              <rect width="100%" height="100%" fill="#55595c"></rect>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ads.owner|truncatewords:6}}</text>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ads.title|truncatewords:6}}</text>
            </img>
            <div class="card-body">
              <p class="card-text">{{ads.description|truncatewords:10}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{%url 'retrieve_ad' ads.id%}">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-primary"
                  >
                    View
                  </button>
                </a>
                  <a href="{% url 'update_ad' ads.id %}"><button
                    type="button"
                    class="btn btn-sm btn-outline-success"
                  >
                    Edit
                  </button>
                </a>
                <a href="{% url 'delete_ad' ads.id %}"><button
                  type="button"
                  class="btn btn-sm btn-danger"
                >
                  delete
                </button>
              </a>
                </div>
                <small class="text-body-secondary"
                  >{{ads.created_at|date:"d.m.Y"}}</small
                >
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{%endblock%}
