{%extends 'base.html'%} {%block title%}
<title>Главная страница</title>
{%endblock%} {% block content%}
<nav class="navbar navbar-light bg-light">
  <a href="/ads/create">
      <button class="btn btn-outline-success me-2" type="button">CREATE AD</button>
  </a>
</nav>
<div
  style="
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    width: 1700px;
  "
>
  {% for ads in all_ads %}
  <div class="card" style="width: 28rem">
    <img
      src="{{ads.image.url}}"
      class="card-img-top"
      style="width: 446px; height: 400px"
    />
    <div class="card-body">
      <h5 class="card-title">{{ ads.owner }}</h5>
      <h5 class="card-title">{{ ads.subcategory }}</h5>
      <h5 class="card-title">{{ ads.title }}</h5>
      <p class="card-text">{{ ads.description }}</p>
      <p class="card-text bg-body-tertiary" style="transform: rotate(0)">
        {{ ads.price }}
      </p>
      {% if ads.type == "Хочу научиться" %}
      <button type="button" class="btn btn-success">{{ads.type}}</button>
      {% else %}
      <button type="button" class="btn btn-info">{{ads.type}}</button>
      {% endif %}
      <p class="card-text bg-body-tertiary" style="transform: rotate(0)">
        {{ads.created_at|date:"d.m.Y"}}
      </p>
    </div>
  </div>
  {% endfor %}
</div>
{%endblock%}
