<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div style="display: flex; gap: 20px;flex-wrap: wrap;justify-content: center; width: 1700px;">
      {% for ads in all_ads %}
      <div class="card" style="width: 28rem">
        <div class="card-body">
          <h5 class="card-title">{{ ads.title }}</h5>
          <p class="card-text">{{ ads.description }}</p>
          <p class="card-text bg-body-tertiary" style="transform: rotate(0)">
            {{ ads.price }}
          </p>
          {% if ads.type == "Хочу научиться" %}
          <button type="button" class="btn btn-success">{{ads.type}}</button>
          {% else %}
          <button type="button" class="btn btn-info">{{ads.type}}</button>
          {% endif %}
          <p class="card-text bg-body-tertiary" style="transform: rotate(0)">
            {{ads.created_at|date:"d.m.Y"}}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
